<!DOCTYPE html>
<html>
  <head>
    <title>Мой FastAPI сайт</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/form.css" />
  </head>
  <body>
    <div class="main">
      <nav>
        <div class="header__head">
          <img class="img__header" src="/static/img/logl.png" alt="" />
          <img class="img__header" src="/static/img/profile.png" alt="" />
        </div>
        <div class="header__nav">
          <div class="nav__item__title">
            <h2>Навигация</h2>
          </div>
          <div class="nav__item">
            <h5>Проекты</h5>
          </div>
          <div class="nav__item">
            <h5>Создать проект</h5>
          </div>
          <div class="nav__item">
            <h5>Профиль</h5>
          </div>
        </div>
      </nav>
      <div class="container">
        <header>asdsad</header>
        <main>
          <div class="main__container">
            <div class="inner_nav">
              <h1>Проекты</h1>
              <button>Новый проект</button>
            </div>
            <div class="list">
              <div class="item">
                <div class="proj__info">
                  <img class="img__proj" src="/static/img/project.jpg" alt="" />
                  <h4>Project</h4>
                </div>
                <button>Посмотреть</button>
              </div>
              <div class="item">
                <div class="proj__info">
                  <img class="img__proj" src="/static/img/project.jpg" alt="" />
                  <h4>Project</h4>
                </div>
                <button>Посмотреть</button>
              </div>
              <div class="item">
                <div class="proj__info">
                  <img class="img__proj" src="/static/img/project.jpg" alt="" />
                  <h4>Project</h4>
                </div>
                <button>Посмотреть</button>
              </div>
              <div class="item">
                <div class="proj__info">
                  <img class="img__proj" src="/static/img/project.jpg" alt="" />
                  <h4>Project</h4>
                </div>
                <button>Посмотреть</button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
